<!DOCTYPE html>
<html>

<head>
    <title>C-News - About</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="images/c.png">
</head>

<body>
    <%- include('header'); -%>
    <div class="content">
        <h2>
            About
        </h2>
        <p>
            C-News is a site that gathers information about news articles and stock and cryptocurrencies to display.
        </p>
    </div>
</body>

</html>