<footer class="footer">
    <%= quote.text %> - <%= quote.author %><br>
    Built with <a href="https://www.coingecko.com/en">Coin Gecko</a>,
    <a href="https://www.alphavantage.co/">Alpha Vantage</a>,
    <a href="https://azure.microsoft.com/en-au/services/cognitive-services/bing-news-search-api/">Bing News Search</a>
    and <a href="https://type.fit">Type Fit</a>
</footer>